body {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
}

header img {
  position:absolute;
  top: 0px;
}

h1 {
  text-align: center;
}

article {
  text-align: center;
}

p {
  width: 250px;
}
