body {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
}

header img {
  position:absolute;
  top: 0px;
}

h1{
  text-align: center;
}

a:link{
  text-decoration:none
}


.Images{
  text-align: center;
  margin-left: 30px;
}

article {
  display: flex;
  flex-wrap: wrap;
}

aside {
  margin-top: 100px;
  margin-left: 30px;
  flex-direction: row;
}

footer{
  text-align: center;
}

.divv{
  margin-right: 1350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Marque.div {
  display: flex;
  flex-wrap: wrap;
}
