body {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
}

header img {
  position:absolute;
  top: 0px;
}

h1{
  text-align: center;
}

.Contenu{
  display: flex;
}

article {
  display: flex;
}

footer{
  text-align: center;
}
