body {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
}

/* -------------------------------------Header-----------------------*/

header img {
  position:absolute;
  top: 0px;
}

/* --------------------------------------------------------------------*/


/* -------------------------------------Menu navigation-----------------------*/


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #383838;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #4CAF50;
}

li.dropdown {
  display: inline-block;
}
/* -------------------------------------------------------------------------------------*/

/* -------------------------------------Affichage des téléphones -----------------------*/

.Images{
  text-align: center;
  margin-left: 30px;
}

article {
  display: flex;
  flex-wrap: wrap;
}

.Article {
  display: flex;
  flex-direction: row;
}

h3 {
  color: white;
}

aside {
  margin-top: 100px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;

}
/* ---------------------------------------------------------------------------*/

/*-----------------------------Footer-----------------------------------------*/
footer{
  text-align: center;
}
/*----------------------------------------------------------------------------*/
